# Dependencies
node_modules/

# Build output
*.vsix
out/
dist/

# VS Code local settings
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vscode/*.log

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
